# Archivo de variables de entorno
.env

# Entornos virtuales
venv/
env/

# Credenciales y tokens de API
*.json

# Caché de Python
__pycache__/
*.pyc
historial_sincronizacion.txt
historial_sincronizacion.csv
